# Environment variables example

# Site
NEXT_PUBLIC_API_URL=

# Game
WS_PORT=
PUBLIC_WS_URL=

# Auth
PORT=
DATABASE_URL=
JWT_SECRET=
FRONTEND_URL=
REDIS_URL=
REDIS_PORT=
EMAIL_HOST=
EMAIL_KEY=
CORS_ORIGIN=