# Environment variables for development

# Site
NEXT_PUBLIC_API_URL=

# Game
PUBLIC_WS_URL=
WS_PORT=

# Auth
AUTH_PORT=
DATABASE_URL=
JWT_SECRET=
FRONTEND_URL=
REDIS_URL=
REDIS_PORT=
EMAIL_HOST=
EMAIL_KEY=
CORS_ORIGIN=

# Infra
POSTGRES_PASSWORD=